.Lobby {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgb(227, 241, 252);
  background: linear-gradient(
    90deg,
    rgb(242, 248, 253) 5%,
    rgb(186, 226, 245) 100%
  );
}

body {
  margin: 0%;
  padding: 0%;
}

.codeBlock-container h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.codeBlock-container h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.codeBlock-container button {
  width: 330px;
  height: 60px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 17px;
  background: #125d74;
  color: #fff;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.codeBlock-container button:hover {
  background: #4996ad;
}
